/* .NavBar > #appTitle {
  background-color: #ABD2FA;
  color: black;
  font-weight: bold;
}

.NavBar > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.NavBar > ul > li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: underline;
}

.NavBar > a > li:hover {
  background-color: #3D518C
}

.NavBar > a {
  color: white
} */